@import url(futuris-cyrillic.ttf);

body{
    font-size: 20px;    
    font-family: 'Futuris Cyrillic', arial;
    text-shadow: 1px 1px 14px #eeeeee;
}

.top {
    font-size: 26pt;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background: url(himBgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.info{
    padding-left: 0;
    padding-right: 0;
}

.page-header{
    padding-top: 20px;
}
.right-panel{
    font-size: 20px;
    padding-right: 0;
    padding-left: 0;
}

.center-panel img {
    padding: 20px;
    width: 100%;
}

.right-panel .phone {
    height: 90px;
}
.right-panel .phone img {
    height: 100%;
}

.copyright {
    padding: 0;
}

.copyright-text {
    padding: 0;
    font-size: 10pt;
    background: #dedede;
    color: #333333;
    text-align: center;
}

.list-group-item.cont {
    display: inline-flex;
}

.list-group-item.cont .cont-img {
    width: auto;
    padding-right: 10px;
}

.list-group-item.cont .cont-img > img {
    width: auto;
    height: 30px;
}

.list-group-item.cont .cont-img > a {
    align-self: center;
}

#testimonial-slider{
    background-color: rgba(12, 138, 98, 0.287);
    border-top: solid 1px transparent;
}
.testimonial{
    background: #fff;
    padding: 20px;
    margin: 0 15px 10px 15px;
    position: relative;
    height: 300px;
}
.testimonial:before{
    content: "";
    width: 100%;
    height: 100%;
    background: #0d8a63;
    position: absolute;
    top: 4%;
    left: 2%;
    opacity: 0.5;
    z-index: -1;
}
.testimonial .title{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    margin-top: 0;
}
.testimonial .description{
    font-size: 18px;
    color: #555;
    line-height: 30px;
    overflow: auto;
    height: 150px;
}
.testimonial .testimonial-content{
    position: relative;
    height: 140px;
}
.testimonial .testimonial-content:after{
    content: "\f10e";
    font-family: 'FontAwesome';
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 45px;
    color: #a8a8a8;
}
.testimonial .pic{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .content{
    display: inline-block;
    margin: 10px 0;
}
.testimonial .name{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;
}
.testimonial .post{
    font-size: 14px;
    color: #555;
    line-height: 24px;
}
.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    background: #0d8a63;
}
/*media only screen and (max-width: 479px*/
@media only screen and (max-width: 800px){
    .page-header{
        padding-right: 0;
    }
    .left-panel{
        padding-right: 0;
    }
    .fio{
        word-wrap: normal;
    }
    .profession{
        word-wrap: normal;
    }
    .testimonial .testimonial-content:after{
        content: "";
    }

    .testimonial .description{
        font-size: 14px;
    }    

    .testimonial-content {
        display: flex;
    }
    .testimonial-content .pic {
        flex : 0 0 auto;
    }
    .testimonial-content .post {
        font-size: 12px;
    }    
}
/* iPhone */
@media only screen and (max-width: 400px){
    .profession{
        font-size: 1.6rem;
    }

    .list-group-item.cont:nth-child(2) img{
        height: 30px !important;
    }

    .list-group-item.cont:nth-child(2) a { 
        white-space: nowrap;
    }
}
