body{
    font-size: 20px;    
}

.top {
    font-size: 26pt;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background: url(himBgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header{
    padding-top: 20px;
}
.right-panel{
    font-size: 20px;
}

.center-panel img {
    padding: 20px;
    width: 100%;
}

.right-panel .phone {
    height: 90px;
}
.right-panel .phone img {
    height: 100%;
}
.carousel-inner {
    min-height: 500px;
}
.carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}

.carousel-indicators li .active {
    background: #333333;
    width: 228px;
    height: 228px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}

.carousel-indicators li img{
    display: block;
}

.cont-img{
    width: 200px;
    text-align: left;
}
.cont-img img{
    height: 30px;
}

.ref .card-header {
    cursor: pointer;
}

.ref div.imgBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ref h5 {
    font-weight: bold;
    font-style: italic;
}
/* .ref img {
    max-height: 400px;
    width: auto !important;
    padding: 20px;
} */
.ref .ref-text{
    height: auto;
    font-size: smaller;
    overflow: auto;
}


.copyright {
    padding: 0;
}

.copyright-text {
    padding: 0;
    font-size: 10pt;
    background: #dedede;
    color: #333333;
    text-align: center;
}

.carousel-item blockquote {
    border-left: none;
    margin: 0;
}
.carousel-item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}




.testimonial{
    background: #fff;
    padding: 20px;
    margin: 0 15px 10px 15px;
    position: relative;
}
.testimonial:before{
    content: "";
    width: 100%;
    height: 100%;
    background: #0d8a63;
    position: absolute;
    top: 4%;
    left: 2%;
    opacity: 0.5;
    z-index: -1;
}
.testimonial .title{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    margin-top: 0;
}
.testimonial .description{
    font-size: 14px;
    color: #555;
    line-height: 30px;
}
.testimonial .testimonial-content{
    position: relative;
}
.testimonial .testimonial-content:after{
    content: "\f10e";
    font-family: 'FontAwesome';
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 45px;
    color: #a8a8a8;
}
.testimonial .pic{
    display: inline-block;
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .content{
    display: inline-block;
    margin: 10px 0;
}
.testimonial .name{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;
}
.testimonial .post{
    font-size: 14px;
    color: #555;
    line-height: 24px;
}
.testimonial .rating{
    padding: 0;
    margin: 0;
    list-style: none;
}
.testimonial .rating li{
    display: inline-block;
    color: #ffc207;
}
.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    background: #0d8a63;
}
@media only screen and (max-width: 479px){
    .testimonial .testimonial-content:after{
        content: "";
    }
}
